@{
    ViewData["Title"] = "Home Page";
}

<div id="map" style="width:100%;height:650px;"></div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCf_9yeAu4T0adBY4lLbycLEXAvWpedW1o&libraries=places"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var mapText = '[[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: BEAU6313627</li><li>Loc: 33.753461, -118.263016</li></ul>","latitude":"33.753461","longitude":"-118.263016","type":"RUT"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: BMOU5176397</li><li>Loc: 33.753461, -118.263016</li></ul>","latitude":"33.753461","longitude":"-118.263016","type":"RUT"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: CCLU7853096</li><li>Loc: 33.766667, -118.183333</li></ul>","latitude":"33.766667","longitude":"-118.183333","type":"RUT"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: CSNU6126254</li><li>Loc: 33.753461, -118.263016</li></ul>","latitude":"33.753461","longitude":"-118.263016","type":"RUT"}],[{"title":"CNNGB - Ningbo","latitude":"29.895425","longitude":"121.618652","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: CSNU6161110</li><li>Loc: 34.40658, -123.25347666666667</li></ul>","latitude":"34.40658","longitude":"-123.25347666666667","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: CSNU6161110</li><li>Loc: 34.29863666666667, -120.41121666666666</li></ul>","latitude":"34.29863666666667","longitude":"-120.41121666666666","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: CSNU6161110</li><li>Loc: 33.63228333333333, -118.41046666666666</li></ul>","latitude":"33.63228333333333","longitude":"-118.41046666666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: CSNU6161110</li><li>Loc: 33.74082833333333, -118.19746833333333</li></ul>","latitude":"33.74082833333333","longitude":"-118.19746833333333","type":"CUR"},{"title":"USLGB - Long Beach","latitude":"33.766667","longitude":"-118.183333","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: CSNU6447146</li><li>Loc: 33.753461, -118.263016</li></ul>","latitude":"33.753461","longitude":"-118.263016","type":"RUT"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: CSNU6815401</li><li>Loc: 33.753461, -118.263016</li></ul>","latitude":"33.753461","longitude":"-118.263016","type":"RUT"}],[{"title":"CNNGB - Ningbo","latitude":"29.895425","longitude":"121.618652","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: CSNU7437800</li><li>Loc: 34.40658, -123.25347666666667</li></ul>","latitude":"34.40658","longitude":"-123.25347666666667","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: CSNU7437800</li><li>Loc: 34.29863666666667, -120.41121666666666</li></ul>","latitude":"34.29863666666667","longitude":"-120.41121666666666","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: CSNU7437800</li><li>Loc: 33.63228333333333, -118.41046666666666</li></ul>","latitude":"33.63228333333333","longitude":"-118.41046666666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: CSNU7437800</li><li>Loc: 33.74082833333333, -118.19746833333333</li></ul>","latitude":"33.74082833333333","longitude":"-118.19746833333333","type":"CUR"},{"title":"USLGB - Long Beach","latitude":"33.766667","longitude":"-118.183333","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: EISU8290992</li><li>Loc: 44.445948333333334, -146.44318333333334</li></ul>","latitude":"44.445948333333334","longitude":"-146.44318333333334","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: EISU8290992</li><li>Loc: 43.494616666666666, -141.68492833333335</li></ul>","latitude":"43.494616666666666","longitude":"-141.68492833333335","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: EISU8290992</li><li>Loc: 42.24364, -136.86514166666666</li></ul>","latitude":"42.24364","longitude":"-136.86514166666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: EISU8290992</li><li>Loc: 40.54505833333333, -132.63400166666668</li></ul>","latitude":"40.54505833333333","longitude":"-132.63400166666668","type":"CUR"},{"title":"USLAX - Los Angeles","latitude":"33.753461","longitude":"-118.263016","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: EITU1927110</li><li>Loc: 44.445948333333334, -146.44318333333334</li></ul>","latitude":"44.445948333333334","longitude":"-146.44318333333334","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: EITU1927110</li><li>Loc: 43.494616666666666, -141.68492833333335</li></ul>","latitude":"43.494616666666666","longitude":"-141.68492833333335","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: EITU1927110</li><li>Loc: 42.24364, -136.86514166666666</li></ul>","latitude":"42.24364","longitude":"-136.86514166666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: EITU1927110</li><li>Loc: 40.54505833333333, -132.63400166666668</li></ul>","latitude":"40.54505833333333","longitude":"-132.63400166666668","type":"CUR"},{"title":"USLAX - Los Angeles","latitude":"33.753461","longitude":"-118.263016","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: EMCU8327574</li><li>Loc: 44.445948333333334, -146.44318333333334</li></ul>","latitude":"44.445948333333334","longitude":"-146.44318333333334","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: EMCU8327574</li><li>Loc: 43.494616666666666, -141.68492833333335</li></ul>","latitude":"43.494616666666666","longitude":"-141.68492833333335","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: EMCU8327574</li><li>Loc: 42.24364, -136.86514166666666</li></ul>","latitude":"42.24364","longitude":"-136.86514166666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: EMCU8327574</li><li>Loc: 40.54505833333333, -132.63400166666668</li></ul>","latitude":"40.54505833333333","longitude":"-132.63400166666668","type":"CUR"},{"title":"USLAX - Los Angeles","latitude":"33.753461","longitude":"-118.263016","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: EMCU8746647</li><li>Loc: 44.445948333333334, -146.44318333333334</li></ul>","latitude":"44.445948333333334","longitude":"-146.44318333333334","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: EMCU8746647</li><li>Loc: 43.494616666666666, -141.68492833333335</li></ul>","latitude":"43.494616666666666","longitude":"-141.68492833333335","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: EMCU8746647</li><li>Loc: 42.24364, -136.86514166666666</li></ul>","latitude":"42.24364","longitude":"-136.86514166666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: EMCU8746647</li><li>Loc: 40.54505833333333, -132.63400166666668</li></ul>","latitude":"40.54505833333333","longitude":"-132.63400166666668","type":"CUR"},{"title":"USLAX - Los Angeles","latitude":"33.753461","longitude":"-118.263016","type":"POD"}],[{"title":"CNNGB - Ningbo","latitude":"29.895425","longitude":"121.618652","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: FFAU2783232</li><li>Loc: 34.40658, -123.25347666666667</li></ul>","latitude":"34.40658","longitude":"-123.25347666666667","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: FFAU2783232</li><li>Loc: 34.29863666666667, -120.41121666666666</li></ul>","latitude":"34.29863666666667","longitude":"-120.41121666666666","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: FFAU2783232</li><li>Loc: 33.63228333333333, -118.41046666666666</li></ul>","latitude":"33.63228333333333","longitude":"-118.41046666666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: FFAU2783232</li><li>Loc: 33.74082833333333, -118.19746833333333</li></ul>","latitude":"33.74082833333333","longitude":"-118.19746833333333","type":"CUR"},{"title":"USLGB - Long Beach","latitude":"33.766667","longitude":"-118.183333","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: GESU6251965</li><li>Loc: 32.098676, -81.109941</li></ul>","latitude":"32.098676","longitude":"-81.109941","type":"RUT"}],[{"title":"CNNGB - Ningbo","latitude":"29.895425","longitude":"121.618652","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: OOCU7364983</li><li>Loc: 34.40658, -123.25347666666667</li></ul>","latitude":"34.40658","longitude":"-123.25347666666667","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: OOCU7364983</li><li>Loc: 34.29863666666667, -120.41121666666666</li></ul>","latitude":"34.29863666666667","longitude":"-120.41121666666666","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: OOCU7364983</li><li>Loc: 33.63228333333333, -118.41046666666666</li></ul>","latitude":"33.63228333333333","longitude":"-118.41046666666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: OOCU7364983</li><li>Loc: 33.74082833333333, -118.19746833333333</li></ul>","latitude":"33.74082833333333","longitude":"-118.19746833333333","type":"CUR"},{"title":"USLGB - Long Beach","latitude":"33.766667","longitude":"-118.183333","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: OOCU7870723</li><li>Loc: 33.766667, -118.183333</li></ul>","latitude":"33.766667","longitude":"-118.183333","type":"RUT"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: TGBU9930805</li><li>Loc: 44.445948333333334, -146.44318333333334</li></ul>","latitude":"44.445948333333334","longitude":"-146.44318333333334","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: TGBU9930805</li><li>Loc: 43.494616666666666, -141.68492833333335</li></ul>","latitude":"43.494616666666666","longitude":"-141.68492833333335","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: TGBU9930805</li><li>Loc: 42.24364, -136.86514166666666</li></ul>","latitude":"42.24364","longitude":"-136.86514166666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: TGBU9930805</li><li>Loc: 40.54505833333333, -132.63400166666668</li></ul>","latitude":"40.54505833333333","longitude":"-132.63400166666668","type":"CUR"},{"title":"USLAX - Los Angeles","latitude":"33.753461","longitude":"-118.263016","type":"POD"}],[{"title":"CNSHA - Shanghai","latitude":"31.395895","longitude":"121.519226","type":"POL"},{"title":"<ul><li>Date: 12/11/2022 12:00:00 PM</li><li>Cont#: TRHU6760714</li><li>Loc: 44.445948333333334, -146.44318333333334</li></ul>","latitude":"44.445948333333334","longitude":"-146.44318333333334","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 AM</li><li>Cont#: TRHU6760714</li><li>Loc: 43.494616666666666, -141.68492833333335</li></ul>","latitude":"43.494616666666666","longitude":"-141.68492833333335","type":"RUT"},{"title":"<ul><li>Date: 12/12/2022 12:00:00 PM</li><li>Cont#: TRHU6760714</li><li>Loc: 42.24364, -136.86514166666666</li></ul>","latitude":"42.24364","longitude":"-136.86514166666666","type":"RUT"},{"title":"<ul><li>Date: 12/13/2022 12:00:00 AM</li><li>Cont#: TRHU6760714</li><li>Loc: 40.54505833333333, -132.63400166666668</li></ul>","latitude":"40.54505833333333","longitude":"-132.63400166666668","type":"CUR"},{"title":"USLAX - Los Angeles","latitude":"33.753461","longitude":"-118.263016","type":"POD"}]]';
            var mapArr = JSON.parse(mapText);
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 5,
                center: new google.maps.LatLng(41.923, 12.513)
            });

            var bounds = new google.maps.LatLngBounds();
            var infoWindow = new google.maps.InfoWindow();
            var polygons = [];
            mapArr.forEach((mapEntries) => {
                var linePaths = [];
                var lineColor = getRandomColor();
                var dotColor = getRandomColor();
                mapEntries.forEach((mapEntry) => {
                    let loc = new google.maps.LatLng(mapEntry.latitude, mapEntry.longitude);
                    var marker = new google.maps.Marker({
                        position: loc,
                        map: map,
                        title: mapEntry.title
                    });

                    if (mapEntry.type === "CUR") {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                    } else if (mapEntry.type === "POL") {
                        marker.setIcon({
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 9,
                            strokeColor: "#058B3A"
                        });
                    } else if (mapEntry.type === "POD") {
                        marker.setIcon("https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png");
                    } else {
                        marker.setIcon({
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 5,
                            strokeColor: dotColor
                        });
                    }

                    linePaths.push(loc);

                    //extend the bounds to include each marker's position
                    bounds.extend(loc);

                    marker.addListener("click", () => {
                        infoWindow.close();
                        infoWindow.setContent(marker.getTitle());
                        infoWindow.open(marker.getMap(), marker);
                    });
                });

                polygons.push(new google.maps.Polyline({
                    path: linePaths,
                    strokeColor: lineColor,
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                }));

                polygons[polygons.length - 1].setMap(map);
            });

            //now fit the map to the newly inclusive bounds
            map.fitBounds(bounds);

            //(optional) restore the zoom level after the map is done scaling
            var listener = google.maps.event.addListener(map, "idle", function () {
                map.setZoom(3);
                map.setCenter(bounds.getCenter());
                google.maps.event.removeListener(listener);
            });

            //var locations = [
            //    ['CNNGB - Ningbo', 29.895425, 121.618652],
            //    ['Current Location', 36.63884, -134.69214666666667],
            //    ['USLGB - Los Angeles', 33.753461, -118.263016],
            //    ['USLGB - Long Beach', 33.766667, -118.183333]
            //];

            //var map = new google.maps.Map(document.getElementById('map'), {
            //    zoom: 5,
            //    center: new google.maps.LatLng(41.923, 12.513),
            //    mapTypeId: google.maps.MapTypeId.ROADMAP
            //});

            //var bounds = new google.maps.LatLngBounds();
            //var infowindow = new google.maps.InfoWindow();
            //var linePaths = [];
            //for (i = 0; i < locations.length; i++) {
            //    var marker = new google.maps.Marker({
            //        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            //        map: map
            //    });

            //    linePaths.push(new google.maps.LatLng(locations[i][1], locations[i][2]));

            //    //extend the bounds to include each marker's position
            //    bounds.extend(marker.position);

            //    google.maps.event.addListener(marker, 'click', (function (marker, i) {
            //        return function () {
            //            infowindow.setContent(locations[i][0]);
            //            infowindow.open(map, marker);
            //        }
            //    })(marker, i));
            //}

            //new google.maps.Polyline({
            //    path: linePaths,
            //    strokeColor: "#FF0000",
            //    strokeOpacity: 1.0,
            //    strokeWeight: 2,
            //    map: map,
            //});

            ////now fit the map to the newly inclusive bounds
            //map.fitBounds(bounds);

            ////(optional) restore the zoom level after the map is done scaling
            //var listener = google.maps.event.addListener(map, "idle", function () {
            //    map.setZoom(2.5);
            //    google.maps.event.removeListener(listener);
            //});


            //Display the Google map in the div control with the defined Options
            //var map = new google.maps.Map(document.getElementById("map"), {
            //    zoom: 2.5,
            //    center: { lat: 29.895425, lng: 121.618652 }
            //});

            ////Set Marker on the Map
            //new google.maps.Marker({
            //    position: { lat: 29.895425, lng: 121.618652 },
            //    icon: {
            //        path: google.maps.SymbolPath.CIRCLE,
            //        scale: 7,
            //    },
            //    map: map,
            //    title: 'CNNGB - Ningbo'
            //});

            //new google.maps.Marker({
            //    position: { lat: 36.63884, lng: -134.69214666666667 },
            //    map: map,
            //    animation: google.maps.Animation.BOUNCE
            //});

            //new google.maps.Marker({
            //    position: { lat: 33.753461, lng: -118.263016 },
            //    map: map,
            //    icon: {
            //        path: google.maps.SymbolPath.CIRCLE,
            //        scale: 7,
            //        strokeColor: "#058B3A"
            //    },
            //    title: 'USLGB - Los Angeles'
            //});

            //new google.maps.Marker({
            //    position: { lat: 33.766667, lng: -118.183333 },
            //    icon: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
            //    map: map,
            //    title: 'USLGB - Long Beach'
            //});

            //new google.maps.Polyline({
            //    path: [
            //        { lat: 29.895425, lng: 121.618652 },
            //        { lat: 36.63884, lng: -134.69214666666667 },
            //        { lat: 33.753461, lng: -118.263016 },
            //        { lat: 33.766667, lng: -118.183333 }
            //    ],
            //    strokeColor: "#FF0000",
            //    strokeOpacity: 1.0,
            //    strokeWeight: 2,
            //    map: map,
            //});
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }

            return color;
        }
    </script>
}
